<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataHack 2018 Registration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/jquery.qtip.css"/>
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link href="assets/css/jquery.modal.css" type="text/css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img class="logo-hack" src="/siteImages/mini-logo.png" alt=""/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://www.datahack-il.com/" target="_blank"><strong>DataHack-il.com</strong></a>
                    &nbsp;
                    <span class="li-social">
								<a href="https://www.facebook.com/datahackil/" target="_blank"><i
                                            class="fa fa-facebook"></i></a>
							</span>
                    &nbsp;
                    <a href="/login"><strong>Login</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <!--<div class="col-sm-3"></div>-->
                <div class="col-sm-8 col-sm-push-2">
                    <div class="well">
                        <div class="coc">
                            <h1><a id="DataHack_2018s_Code_of_Conduct_0"></a>DataHack 2018’s Code of Conduct</h1>
                            <h2><a id="Encouraged_Behaviour_1"></a>Encouraged Behaviour</h2>
                            <ul>
                                <li>Be welcoming.</li>
                                <li>Be kind.</li>
                                <li>Look out for each other.</li>
                            </ul>
                            <h2><a id="Unacceptable_Behaviour_7"></a>Unacceptable Behaviour</h2>
                            <ul>
                                <li>Verbal comments that reinforce social structures of domination related to gender,
                                    gender
                                    identity and expression, sexual orientation, disability, physical appearance, body
                                    size,
                                    race, age, religion.
                                </li>
                                <li>Sexual images in public spaces</li>
                                <li>Deliberate intimidation, stalking, or following</li>
                                <li>Harassing photography or recording</li>
                                <li>Sustained disruption of talks or other events</li>
                                <li>Inappropriate physical contact</li>
                                <li>Unwelcome sexual attention</li>
                                <li>Advocating for, or encouraging, any of the above behaviour</li>
                            </ul>
                            <h2><a id="How_can_I_report_a_violation_of_the_Code_of_Conduct_18"></a>How can I report a
                                violation
                                of the Code of Conduct?</h2>
                            <ul>
                                <li>Anonymous Report - You can make an anonymous report <strong> in the form
                                        below</strong>.
                                    We
                                    can’t follow up an anonymous report with you directly, but we will fully investigate
                                    it
                                    and
                                    take whatever action is necessary to prevent a recurrence.
                                </li>
                                <li>Personal Report - You can make a personal report by: Calling or messaging this phone
                                    number:
                                    <strong>[Phone number for reporting]</strong>. This phone number will be
                                    continuously
                                    monitored for the duration of the event.
                                </li>
                                <li>Contacting a staff member, identified by STAFF shirts. - When taking a personal
                                    report,
                                    our
                                    staff will ensure you are safe and cannot be overheard. They may involve other event
                                    staff
                                    to ensure your report is managed properly. Once safe, we’ll ask you to tell us about
                                    what
                                    happened. This can be upsetting, but we’ll handle it as respectfully as possible,
                                    and
                                    you
                                    can bring someone to support you. You won’t be asked to confront anyone and we won’t
                                    tell
                                    anyone who you are.
                                </li>
                                <li>Our team will be happy to help you contact security, local law enforcement, local
                                    support
                                    services, provide escorts, or otherwise assist you to feel safe for the duration of
                                    the
                                    event. We value your attendance.
                                </li>
                            </ul>
                        </div>

                        <form action="/code-of-conduct/" method="post">
                            <textarea id="issue" type="text" name="issue_field" class="coc-form"></textarea>
                            <button class="btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Javascript -->
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.backstretch-overlay.min.js"></script>
    <script src="assets/js/retina-1.1.0.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/jquery.qtip.js"></script>
    <script type="text/javascript" src="assets/js/jquery.modal.js"></script>
    <script src="assets/js/reg.js"></script>

    <!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>
