<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataHack 2019 Registration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/jquery.qtip.css"/>
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link href="assets/css/jquery.modal.css" type="text/css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img class="logo-hack" src="/siteImages/mini-logo.png" alt=""/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://www.datahack-il.com/" target="_blank"><strong>DataHack-il.com</strong></a>
                    &nbsp;
                    <span class="li-social">
								<a href="https://www.facebook.com/datahackil/" target="_blank"><i
                                            class="fa fa-facebook"></i></a>
							</span>
                    &nbsp;
                    <a href="/login"><strong>Login</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <!--<div class="col-sm-3"></div>-->
                <div class="col-sm-8 col-sm-push-2">
                    <div class="well">
                        <div class="coc">
                            <h1>DataHack 2019: Ultimate Gear List</h1>
                            <p>We want you to have the best time at DataHack 2019, and we are fully “on it” with taking
                                care of your most basic needs: eating, sleeping and Wi-Fi. Yet, to make everything go
                                smoother and have an awesome experience, here is a list of gear we think you should
                                bring with you.</p>

                            <img src="https://i.imgur.com/XVIc74y.png" alt="">
                            <h3>Power Adapters (including extras)</h3>
                            Trust us, you don’t want to be that person who goes around the building, looking for a
                            charger for your phone or laptop; it’s waste of time and might become frustrating, so bring
                            one. But even better: if you’re already bringing one, why not bring two? It just might save
                            someone from a crisis and help you mingle and make new friends!
                            <h3>Deodorant</h3>
                            You have 3 days and 2 nights being stuck in a room with tons of other data crunchers. Let’s
                            make it pleasant for everybody, yourself included.
                            <h3>Warm Clothing</h3>
                            It’s Jerusalem, and it’s October. Nights will probably be colder than you expect. You don’t
                            have to bring your winter wardrobe, but a jacket might save the day.
                            <h3>Headphones</h3>
                            If you have some noise-cancelling state-of-the-art headphones that’s awesome, but even the
                            cheapest and simplest pair might save you when you need to get “in the zone”.
                            <h3>Water Bottle</h3>
                            We will provide water, and cups, but if you don’t want to run across the hall for a single
                            cup at a time, bring a bottle (or some other kind of container); it’s more convenient and
                            also better for the environment.
                            <h3>Toothbrush (and toothpaste)</h3>
                            We know you you plan on bringing one, but it’s that one thing you always forget at the last
                            moment, so put it on your checklist.
                            <h3>Pillowcase</h3>
                            We can’t expect you to bring a pillow, it’s messy. But here’s a neat trick - Bring a
                            pillowcase and fill it with your extra clothing; it can create a nice pillow for your head
                            at night, and for your buttchicks during the day.
                            <h3>Sleeping Bag</h3>
                            We will provide mattresses but nothing else. While you might survive two days without a
                            clean sheet (although you are welcome to bring that too), a sleeping bag is almost a must if
                            you don’t want to freeze at night.
                            <h3>USB Drive</h3>
                            You never know when the wifi will get clogged with so many people in one place, and at 2 AM
                            when you want to share a 1.32 GB dataset, this little device might earn you some extra
                            sleeping time.
                            <h3>Power Splitters and Extenders</h3>
                            We are expecting a few hundred people, each of them requires at least two chargers. We
                            actually have many power splitters to lend you, but why not be on the safe side?

                            <h3>Medicine</h3>
                            If you have some special medication, remember to bring it. Yet even if you don’t have
                            anything special, we recommend bringing some pain relievers for headaches and such; we can’t
                            provide that for you as we can’t be in charge for specific medicine allergies and such.
                            <h3>Small (Empty) Bag</h3>
                            For all the awesome swag you’re gonna get!

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Javascript -->
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.backstretch-overlay.min.js"></script>
    <script src="assets/js/retina-1.1.0.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/jquery.qtip.js"></script>
    <script type="text/javascript" src="assets/js/jquery.modal.js"></script>
    <script src="assets/js/reg.js"></script>

    <!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>
