<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataHack 2019 Registration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/jquery.qtip.css"/>
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link href="assets/css/jquery.modal.css" type="text/css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img class="logo-hack" src="/siteImages/mini-logo.png" alt=""/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://www.datahack-il.com/" target="_blank"><strong>DataHack-il.com</strong></a>
                    &nbsp;
                    <span class="li-social">
								<a href="https://www.facebook.com/datahackil/" target="_blank"><i
                                            class="fa fa-facebook"></i></a>
							</span>
                    &nbsp;
                    <a href="/login"><strong>Login</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text">
                    <h1><strong>DataHack 2019</strong> Registration Form</h1>
                    <div class="description">
                        <p>
                            Please fill the following form with extra care to all the details; we need them to enhance
                            your event experience!<br>
                            <b>Please provide a PDF or .doc/.docx resume/CV file.</b> <br>
                            Maximum team size is 5.

                        </p>
                    </div>
                </div>
                <div class="col-sm-12 form-box">

                    <div class="form-top">
                        <div class="form-top-left">
                            <h1>Sign up now!</h1>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <!--FORM STARTS HERE-->
                    <div class="form-bottom">
                        <form id="form-reg" role="form" action="/register" method="post" class="registration-form"
                              enctype="multipart/form-data">
                            <!--Basic Info-->
                            <div class="row head-row">
                                <div class="col-sm-12"><h1>Basic Information</h1>
                                    <p>The most basic stuff we need</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-sm-6">
                                    <div class="form-group">
                                        <label for="form-first-name">First name</label>
                                        <input type="text" name="first_name" placeholder="First name..."
                                               class="form-first-name form-control" id="form-first-name" required>
                                    </div>
                                </div>
                                <div class=" col-sm-6">
                                    <div class="form-group">
                                        <label for="form-last-name">Last name</label>
                                        <input type="text" name="last_name" placeholder="Last name..."
                                               class="form-last-name form-control" id="form-last-name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-email">Email <span id="information"
                                                                            data-tooltip="A working email address is mandatory!"
                                                                            class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <input type="email" name="email" style="text-transform: lowercase;"
                                               placeholder="Email..." class="form-email form-control" id="form-email"
                                               required>
                                    </div>
                                </div>
                                <!--<div class="col-sm-6">-->
                                <!--<div class="form-group">-->
                                <!--<label for="form-phone-number">Phone Number <span id="information"-->
                                <!--data-tooltip="Format: 050-000-0000. We will only use this to contact you if emailing fails, and will never give this away."-->
                                <!--class="form-pass-info glyphicon glyphicon-info-sign"></span></label>-->
                                <!--<input type="text" name="phone" placeholder="Phone number..."-->
                                <!--class="form-phone-number form-control" id="form-phone-number"-->
                                <!--maxlength="12"-->
                                <!--pattern="(\d{3}-\d{3}-\d{4})|(\d{3}-\d{7})|(\d{2}-\d{8})|(\d{2}-\d{4}-\d{4})|(\d{10})"-->
                                <!--required>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-degree">Academic Degree <span id="information"
                                                                                       data-tooltip="It's not a requirement! Just for stats!"
                                                                                       class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="degree" id="form-degree" class="form-control" required>
                                            <option value="none" selected="selected">None</option>
                                            <option value="undergraduate">Undergraduate/Bachleor</option>
                                            <option value="graduate">Graduate/Masters</option>
                                            <option value="doctor">Doctor/Ph.D.</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="form-student">Are you currently a student? <span id="information"
                                                                                                     data-tooltip="It's not a requirement! Just for stats!"
                                                                                                     class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="student" id="form-student" class="form-control" required>
                                            <option value=false selected="selected">No</option>
                                            <option value=true>Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="col-sm-4 checkboxdiv">-->
                                <!--<h3><input type="checkbox" name="student" value=false>-->
                                <!--I am currently a student-->
                                <!--<span id="information" data-tooltip="It's not a requirement! Just for stats!"-->
                                <!--class="form-pass-info glyphicon glyphicon-info-sign"></span>-->
                                <!--</h3>-->
                                <!--</div>-->

                                <div class="col-sm-4">
                                    <div id="wrap-field" class="form-group">
                                        <label for="form-field">Academic Field</label>
                                        <input type="text" name="field" placeholder="Field..."
                                               class="form-control" id="form-field" required>
                                    </div>
                                </div>
                                <div class="col-sm-4 selectContainer">
                                    <div id="wrap-institution" class="form-group">
                                        <label for="form-institution">Academic Institution</label>
                                        <input type="text" name="institution" placeholder="Academic Institution..."
                                               class="form-control" id="form-institution" required>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="row">-->
                            <!--                                <div class="col-sm-6 checkboxdiv">-->
                            <!--                                <h3><input type="checkbox" name="workshop" value=true>-->
                            <!--                                I'm part of the Workshop Track!-->
                            <!--<span id="information" data-tooltip="The Workshop Track allows participating in-->
                            <!--DataHack 2019 without entering the competition itself, and with the guidance of-->
                            <!--mentors from both academia and industry. The track will also offer introduction lectures-->
                            <!--and hands-on workshop on the first night of the hackathon!"-->
                            <!--class="form-pass-info glyphicon glyphicon-info-sign">-->
                            <!--<img-->
                            <!--class="workshop"-->
                            <!--src="/siteImages/workshop_tiny_horizontal.png"-->
                            <!--style="margin: -10% 0 0 -10%;"-->
                            <!--alt=""/>-->
                            <!--</span>-->
                            <!--</h3>-->
                            <!--</div>-->
                            <!--                                <div class="col-sm-6">-->
                            <!--                                    <div class="form-group">-->
                            <!--                                        <label for="form-track">Track <span id="information"-->
                            <!--                                                                            data-tooltip="<ul>-->
                            <!--                                                                            <li>DataHack - The main event! Bring your own challenge of pick one of the challenges by our sponsors</li>-->
                            <!--                                                                            <li>DataCup - teams from elite companies will compete each other in a high level competition. All members should be from the same company.</li>-->
                            <!--                                                                            <li>Workshop track - I'm here mainly to learn data science and would like to attend awesome hands-on workshops on ML / DL</li>-->
                            <!--                                                                            </ul>"-->
                            <!--                                                                            class="form-pass-info glyphicon glyphicon-info-sign"></span></label>-->
                            <!--                                        <select name="track" id="form-track" class="form-control" required>-->
                            <!--                                            <option value="datahack" selected="selected">DataHack</option>-->
                            <!--                                            <option value="datacup">DataCup</option>-->
                            <!--                                            <option value="workshop">Workshop Track</option>-->
                            <!--                                        </select>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-pass">Choose Password <span id="information"
                                                                                     data-tooltip="Remeber the password you pick! You will use it to sign in to our team finding website."
                                                                                     class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <input type="password" name="password" placeholder="Choose Password..."
                                               class="form-pass form-control" id="form-pass" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-pass-ver">Repeat Password</label>
                                        <input type="password" name="form_pass_ver" placeholder="Repeat Password..."
                                               class="form-pass-ver form-control" id="form-pass-ver" required>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <!--Workshop Track-->
                            <div class="row head-row">
                                <div class="col-sm-12">
                                    <h1>DataLearn</h1>
                                    <p>The DataLearn is designed for beginners in data science. During the program, you
                                        will learn how to implement machine learning models on data - from data
                                        preprocessing to the final prediction. Afterward, you can apply everything you
                                        have learned and compete in DataLearn's dedicated challenge (sponsored by
                                        monday.com). The prerequisites for admission to DataLearn are knowledge in the
                                        field of machine learning and basic experience with programming. Please register
                                        if you are one of the following:
                                    <ol>
                                        <li>I am an experienced programmer that have never worked in the field, but I know the basic concepts.
                                        </li>
                                        <li>I'm an analyst working with Python looking for more knowledge in the field of data science.
                                        </li>
                                        <li>I studied some machine learning courses in university, wishing to gain enough confidence to pick up a project.
                                        </li>
                                    </ol>
                                    </p>
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <!-- <label for="form-cv">Newsletter Signup</label> -->
                                            <h3><input type="checkbox" name="workshop" value=true>
                                                Yes! Sign me up for DataLearn.
                                            </h3>
                                            <span style="font-size: 0.8em">The Datahack team may decide upon moving anyone between tracks.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row head-row">
                                <div class="col-sm-12">
                                    <h1>Logistics</h1>
                                    <p>Some details we need in order to make this the best experience for you</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-gender">Gender <span id="information"
                                                                              data-tooltip="No gender bias! We swear!"
                                                                              class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="gender" id="form-gender" class="form-control" required>
                                            <option value="female" selected="selected">Female</option>
                                            <option value="male">Male</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-teamstatus">Team Status <span id="information"
                                                                                       data-tooltip="You don't have to have a team to register or get accepted, but it's part of the fun, so check out our team-finding system when you're done registering."
                                                                                       class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="teamstatus" id="form-teamstatus" class="form-control" required>
                                            <option value="none" selected="selected">None yet but looking for one
                                            </option>
                                            <option value="have">I've got a team</option>
                                            <option value="alone">I work alone</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-shirttype">Shirt Type</label>
                                        <select name="shirttype" id="form-shirttype" class="form-control" required>
                                            <option value="regular" selected="selected">Regular T-shirt</option>
                                            <option value="fitted">Fitted ladies T-shirt</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-shirtsize">Shirt Size <span id="information"
                                                                                     data-tooltip="We're not sure about XS and XXL, but we'll try and have those."
                                                                                     class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="shirtsize" id="form-shirtsize" class="form-control" required>
                                            <option value="xsmall">XS</option>
                                            <option value="small">S</option>
                                            <option value="medium">M</option>
                                            <option value="large" selected="selected">L</option>
                                            <option value="xlarge">XL</option>
                                            <option value="xxlarge">XXL</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-food">Special Diet <span id="information"
                                                                                  data-tooltip="All food is Kosher<br>"
                                                                                  class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="food" id="form-food" class="form-control" required>
                                            <option value="all" selected="selected">No restrictions</option>
                                            <option value="mehadrin">Mehadrin</option>
                                            <option value="vegi">Vegetarian</option>
                                            <option value="vegan">Vegan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-sleep">Sleeping on site? <span id="information"
                                                                                        data-tooltip="We cannot guarantee on-premise sleeping space this year,
                                                                                        due to venue-related constraints.
                                                                                        We will supply enough mattresses, though.
                                                                                        Please read our FAQ for more details."
                                                                                        class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="sleep" id="form-sleep" class="form-control" required>
                                            <option value="no" selected="selected">No</option>
                                            <option value="wednesday">Only Wednesday</option>
                                            <option value="thursday">Only Thursday</option>
                                            <option value="both">Both nights</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-transport">I'm arriving by...</label>
                                        <select name="transport" id="form-transport" class="form-control" required>
                                            <option value="public" selected="selected">Public transportation</option>
                                            <option value="car">Driving my own car</option>
                                            <option value="ride">Riding with someone</option>
                                            <option value="idk">Don't know yet</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-bus">Sign up - free bus from TLV! <span id="information"
                                                                                                 data-tooltip="We will have a bus take people from TLV on Wednesday noon, and returning them on Friday afternoon."
                                                                                                 class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="bus" id="form-bus" class="form-control" required>
                                            <option value=false selected="selected">No</option>
                                            <option value=true>Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!--More About You-->
                            <div class="row head-row">
                                <div class="col-sm-12">
                                    <h1>More About You</h1>
                                    <p>Some information we need to make future DataHacks even more awesome than this
                                        one</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="job-list">Character class <span id="information"
                                                                                    data-tooltip="No penalties for Multiclassing!"
                                                                                    class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <ul class="list-group" id="job-list">
                                            <li class="list-group-item col-sm-3 li-grey">
                                                <input type="checkbox" name="job_data_scientist" value="true" required>
                                                Data Scientist
                                            </li>
                                            <li class="list-group-item col-sm-3 li-grey">
                                                <input type="checkbox" name="job_dev" value="true" required> Developer
                                            </li>
                                            <li class="list-group-item col-sm-3 li-grey">
                                                <input type="checkbox" name="job_designer" value="true" required>
                                                Designer
                                            </li>
                                            <li class="list-group-item col-sm-3 li-grey">
                                                <input type="checkbox" name="job_product" value="true" required> Product
                                            </li>
                                            <li class="list-group-item col-sm-3 li-grey">
                                                <input type="checkbox" name="job_researcher" value="true" required>
                                                Researcher
                                            </li>
                                            <li class="list-group-item col-sm-3 li-grey">
                                                <input type="checkbox" name="job_data_analyst" value="true" required>
                                                Data Analyst
                                            </li>
                                            <li class="list-group-item col-sm-3 li-grey">
                                                <input type="checkbox" name="job_devops" value="true" required> DevOps
                                            </li>
                                            <li class="list-group-item col-sm-3 li-grey">
                                                <input type="checkbox" name="job_other" value="true" required> Other
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="row">

                                <!--                                <div class="col-sm-6">-->
                                <!--                                    <div class="form-group">-->
                                <!--                                        <label for="form-job-status">Job Status <span id="information"-->
                                <!--                                                                                      data-tooltip="This will make it easier for our sponsors to approach you with relevant opportunities"-->
                                <!--                                                                                      class="form-pass-info glyphicon glyphicon-info-sign"></span></label>-->
                                <!--                                        <select name="job_status" id="form-job-status" class="form-control" required>-->
                                <!--                                            <option value=active selected="selected">I'm looking for a job</option>-->
                                <!--                                            <option value=interested>I have a job, but am always happy to hear about new-->
                                <!--                                                opportunities-->
                                <!--                                            </option>-->
                                <!--                                            <option value=inactive>I'm happily employed at my current company</option>-->
                                <!--                                        </select>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-hacker">Attended a hackathon before? <span id="information"
                                                                                                    data-tooltip="It's not a requirement! Just for stats!"
                                                                                                    class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <select name="hacker" id="form-hacker" class="form-control" required>
                                            <option value=false selected="selected">No</option>
                                            <option value=true>Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <!--                            </div>-->
                                <!--                            <div class="row">-->
                                <!--                                <div class="col-sm-6">-->
                                <!--                                    <div class="form-group">-->
                                <!--                                        <label for="form-skills">Skills <span id="information"-->
                                <!--                                                                              data-tooltip="What you can do, including specific programs, programming languages and frameworks."-->
                                <!--                                                                              class="form-pass-info glyphicon glyphicon-info-sign"></span></label>-->
                                <!--                                        <div id="tags">-->
                                <!--                                            <input class="form-control" type="text" id="form-skills"-->
                                <!--                                                   placeholder="Add a tag"/>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form-age">Age <span id="information"
                                                                        data-tooltip="There's no min or max age. This is just for stats."
                                                                        class="form-pass-info glyphicon glyphicon-info-sign"></span></label>
                                        <input type="text" name="age" placeholder="Age..." class="form-control"
                                               id="form-age"
                                               maxlength="2" pattern="\d{2}">
                                    </div>
                                </div>

                            </div>
                            <!--Final stuff-->
                            <hr>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="form-cv">Resume/CV * - Providing your CV is mandatory, as it is used
                                            for considering your application.
                                            <br>Please provide a PDF or .doc/.docx file. </label>
                                        <input type="file"
                                               name="cv"
                                               style="text-transform: lowercase;"
                                               placeholder="Your CV file" class=""
                                               accept=".pdf,.doc,.docx"
                                               id="form-cv"
                                               required>
                                        <!-- <input type="file" name="cv"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-12">
                                    <!-- <label for="form-cv">Newsletter Signup</label> -->
                                    <h3><input type="checkbox" required name="toc" value=true> I have read 1-page notice
                                        and agree to
                                        the <a
                                                href="https://drive.google.com/file/d/1yfxJU-Jp66uZUTa3t3Wk_hhlhczZCPme/view"
                                                target="_blank">Terms and Conditions</a> and to the <a
                                                href="https://docs.google.com/document/d/e/2PACX-1vSPfQLJ1Y2chZSlOE4U20W76Evd9M5wAYSc0IaAD3_zRO_qAoVhSDWrkbkgR0WHzabUlg1IeHyjDNjE/pub">Privacy
                                            Policy</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-12">
                                    <!-- <label for="form-cv">Newsletter Signup</label> -->
                                    <h3><input type="checkbox" required name="conduct" value=true> I have read the <a
                                                href="/code-of-conduct" target="_blank">code of conduct</a> and agree to
                                        be a gentle
                                        person
                                    </h3>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <!-- <label for="form-cv">Newsletter Signup</label> -->
                                    <h3><input type="checkbox" name="newsletter" value=true> Sign me up for the Datahack
                                        newsletter. <span id="information"
                                                          data-tooltip="Our newsletter is an easy way to get a curated list of data science and machine learning related news and events, including events by Datahack, like the DataTalks meetup series."
                                                          class="form-pass-info glyphicon glyphicon-info-sign"></span>
                                    </h3>
                                </div>
                            </div>

                            <!--Submit-->
                            <div class="row">

                                <div class="col-sm-12">
                                    <button id="reg_but" type="submit" class="btn col-sm-12">Sign me up!</button> &nbsp;
                                    <!--(<a-->
                                    <!--href="https://drive.google.com/file/d/0B3IYTOSJm0hOdWlRUGpFb0N2bnM/view?usp=sharing"-->
                                    <!--target="_blank">View Terms and Conditions</a>)-->
                                    <i style="display:none" class="reg-loader fa fa-spinner fa-pulse fa-2x"></i></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch-overlay.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/jquery.qtip.js"></script>
<script type="text/javascript" src="assets/js/jquery.modal.js"></script>
<script src="assets/js/reg.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>
